body {
  background-color: rgb(236, 220, 232);
  font-family: helvetica, arial, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: rgb(71, 0, 51);
}

.formContainer {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rbga(65, 50, 100, 0.08);
  padding: 15px 20px;
}

form {
  display: flex;
}

.examples {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

a {
  color: rgb(217, 0, 156);
}

.instructions {
  padding: 16px;
  border: 1px solid rgb(189, 189, 189);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.submitButton {
  margin-left: 10px;
  background-color: rgb(217, 0, 156);
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 14px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid rgb(217, 0, 156);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
}

.hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(217, 0, 156);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
