body {
  background-color: rgb(236, 220, 232);
  font-family: helvetica, arial, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: rgb(71, 0, 51);
}

form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

a {
  color: rgb(217, 0, 156);
}

.instructions {
  padding: 16px;
  border: 1px solid rgb(189, 189, 189);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.submitButton {
  margin-left: 10px;
  background-color: rgb(217, 0, 156);
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 14px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid rgb(217, 0, 156);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
